.panelItem{
    max-height:3rem;
    flex-grow:1;
    display:grid;
    grid-template-columns: 0.5rem auto;
    /* align-items: center; */
}

.panelItem:hover{
    cursor: default;
}

.lockIcon{
    font-size: 1.15em;
    position: relative;
    top: 0.25rem;
}

.panelText{
    display: flex; 
    align-items: center;
}

.panelTextHeading{
    padding-left: 0.5rem;
    font-weight: 400;
}
